body {
    background-image: url(../img/darkness.png);
}

.logo {
    font-family: 'Peralta', cursive;
}

.logo a {
    color: blanchedalmond;
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}