{% extends 'base_accounts.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">重置密码</h3>
          <p>检查您的电子邮件以获取重置密码的链接。 如果几分钟后仍未出现，请检查您的垃圾邮件文件夹。</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">马上去登陆</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}